<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre la Aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="titulo">Bienvenido a la Guía Turística de Cádiz</h2>

  <p class="texto">
    Esta aplicación ha sido diseñada para ofrecerte una forma sencilla, rápida y visual
    de descubrir los monumentos más emblemáticos de la ciudad de Cádiz.
  </p>

  <p class="texto">
    Podrás explorar lugares históricos, conocer cuándo fueron construidos, su historia,
    su ubicación y ver imágenes destacadas. Todo en una interfaz intuitiva y pensada
    para mejorar tu experiencia como visitante.
  </p>

  <p class="texto">
    Además, puedes añadir tus propios monumentos o rincones favoritos para personalizar
    tu recorrido turístico.
  </p>

  <div class="boton">
    <ion-button expand="block" color="medium" (click)="cerrarModal()">
      OK
    </ion-button>
  </div>

</ion-content>
