.titulo {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.texto {
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #444;
}

.boton {
  margin-top: 25px;
}
