<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Tacita Guía</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedor-centro">
    
    <div class="icono-cabecera">
      <ion-icon name="map" color="primary"></ion-icon>
    </div>

    <p class="texto-descripcion">
      Descubre la esencia de Cádiz. Explora monumentos históricos, conoce su historia y visualiza sus detalles.
    </p>

    <div class="lista-ventajas">
      <div class="ventaja">
        <ion-icon name="images-outline" color="secondary"></ion-icon>
        <span>Galería visual</span>
      </div>
      <div class="ventaja">
        <ion-icon name="add-circle-outline" color="tertiary"></ion-icon>
        <span>Añade tus sitios</span>
      </div>
    </div>

    <ion-button expand="block" class="boton-entendido" (click)="cerrarModal()">
      ¡Entendido!
    </ion-button>
  </div>
</ion-content>