.monument-col {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.monument-col app-monument-item {
  width: 100%;
  max-width: 320px; /* limita el ancho máximo para pantallas grandes */
}